*, *:before, *:after {
 box-sizing: border-box;
}

.arrow {
  float: right;
  width: 10%;
  padding-top: 25px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.content {
  float:left;
  width: 90%;
  padding-top: 25px;
  padding-left: 20px;
}

.location {
  background-color: #dadada;
  margin: 1px;
  height: 80px;
  overflow: hidden;
}

.location:hover {
  background-color: #a9a9a9;
}
nav {
  background-color: #000000;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
}

/* common styles */

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

.restaurant-list {
  padding-top: 50px;
}
